{% extends "main_layout.html" %}
{% block content %}
<h1>Ini adalah index</h1>
{% endblock %}
<!-- <html>
    <head>
        Hi
    </head>
    <body>
        <div>
            {% for data in myval %}
                <li>{{ data }}</li>
            {% endfor %}
        </div>
        <p>===============================</p>
        <div>
            {% if suasana == true %}
                <p>Happy</p>
            {% elif suasana == false %}
                <p>Sad</p>
            {% else %}
                <p>Unknown</p>
            {% endif %}
        </div>
        <p>===============================</p>
        <div>
            {% set suasana = 'Sunday Night' %}
            <p>{{ suasana }}</p>
        </div>
        <p>===============================</p>
        <div>
            {% for data in myval %}
                {% if data == 'monday' %}
                    <p>Be productive</p>
                {% elif data == 'sunday' %}
                    <p>Rest</p>
                {% endif %}
            {% endfor %}
        </div>
    </body>
</html> -->