{% extends 'layout.html' %}

{% block title %}Coordination Modification{% endblock %}

{% block content %}
    <h1>Coordination Modification Template</h1>

    <p>Coordination modification template use POS Tagger model to detect tagged word in the input sentence. If the program found &lt;Noun&gt; - &lt;CC&gt; - &lt;Noun&gt; sequence, the program will remove first Noun and CC tag, so it will be only the second Noun that is written from the original input sentence.
    
    <p>I strongly recommend to manually check if there is any<strong>"dan"</strong> in your sentence because the program will mainly works if it's detect<strong>"dan"</strong> in your sentence(s).</p>

    <p>If the sequence is not found, then the program will print out<em>'sequence not found'</em> instead for user friendly purposes.</p>
{% endblock %}

{% block input %}
    <form action="/coord" method="post">
        <input type="text" name="coord">
        <input type="submit" class="btn btn-secondary" value="process" style="margin-top: 5px;">
    </form>
{% endblock %}
{% block result %}
    <h2>The original text is:</h2>
    <p><em>{{ original_text }}</em></p>

    <h2>The result of the process is:</h2>
    {% if new_sentence == "None" %}
        <p>Please submit and process your text in the text area above.</p>
    {% elif new_sentence %}
        {% for sentence in new_sentence %}
            <ul>
                <li>{{ sentence }}</li>
            </ul>
        {% endfor %}
        <!-- <p> {{ new_sentence }} </p> -->
    {% else %}
        <p>Please submit and process your text in the text area above.</p>
    {% endif %}
    
{% endblock %}

{% block function %}/coord{% endblock %}
{% block textarea_name %}coord{% endblock %}
{% block textarea_id %}coord{% endblock %}
