{% extends 'layout.html' %}

{% block title %}Negation Modification{% endblock %}

{% block content %}
    <h1>Negation Modification Template</h1>

    <p>Negation modification template will remove negative suggestion word in the in the sentence. The listed negative suggestions are:<em>'tidak', 'bukan', 'belum', 'tak', 'jangan'.</em></p>

    <p>If there is no negative suggestion word found in the sentence, then the program will print out<em>'The sentence has no negative suggestion word'</em> for user friendly purposes.</p>
{% endblock %}

{% block input %}
    <form action="/negation" method="post">
        <input type="text" name="negation">
        <input type="submit" class="btn btn-secondary" value="process" style="margin-top: 5px;">
    </form>
{% endblock %}
{% block result %}
    <h2>The original text is:</h2>
    <p><em>{{ original_text }}</em></p>

    <h2>The result of the process is:</h2>
    {% if new_sentence == "None" %}
        <p>Please submit and process your text in the text area above.</p>
    {% elif new_sentence %}
        {% for sentence in new_sentence %}
        <ul>
            <li>{{ sentence }}</li>
        </ul>
        {% endfor %}
    {% else %}
        <p>Please submit and process your text in the text area above.</p>
    {% endif %}
    
{% endblock %}

{% block function %}/negation{% endblock %}
{% block textarea_name %}negation{% endblock %}
{% block textarea_id %}negation{% endblock %}
