{% extends 'layout.html' %}

{% block title %}Synonym/Antonym Substitution{% endblock %}

{% block content %}
    <h1>Synonym/Antonym Substitution Template</h1>

    <p>Synonym/Antonym substitution template will  find any word in the sentence and replace that word with their synonym/antonym in the dictionary. The dictionary is based on Indonesian thesaurus synonym/antonym.</p>
    <p>Synonym will replace up to 2 words randomly, while antonym will only replace a word randomly in the sentence</p>
    <p>If there is any changes in the sentence, the changes will be marked with color<span style="color:blue">blue</span> for synonym and<span style="color:red">red</span> for antonym.</p>
{% endblock %}

{% block input %}
    <form action="/sinto" method="post">
        <input type="text" name="sinto">
        <input type="submit" class="btn btn-secondary" value="process" style="margin-top: 5px;">
    </form>
{% endblock %}
{% block result %}
    <h2>The original text is:</h2>
    <p><em>{{ original_text }}</em></p>

    {% if synonym_result == "None" %}
        <p>Please submit and process your text in the text area above.</p>

    {% elif synonym_result %}
        <h3>Synonym Result:</h3>
        {% for sentence in synonym_result %}
            <ul>
                <li>{{sentence|safe }}</li>
            </ul>
        {% endfor %}

        <h3>Antonym Result:</h3>
        {% for sentence in antonym_result %}
            <ul>
                <li>{{sentence|safe }}</li>
            </ul>
        {% endfor %}

    {% else %}
        <p>Please submit and process your text in the text area above.</p>
    {% endif %}
    
{% endblock %}

{% block function %}/number{% endblock %}
{% block textarea_name %}number{% endblock %}
{% block textarea_id %}number{% endblock %}
